.theme--dark {
  --editorColor80: #cecece;
  --textPrimary: #cecece;
  --textRegular: #a7a7a7;
  --textSecondary: #d9d9d9;
  --background: rgb(32, 33, 36);
  --themeBackground: rgb(53, 54, 58);
  /* code background */
  --codeBackground: rgb(53, 54, 58);
  --lightGray: #616161;
  & .theme-icon.icon-sun-inv {
    color: var(--warning);
    display: block;
  }
  & .theme-icon.icon-moon {
    display: none;
  }
}
