:root {
  /* 主要 */
  --primary: #2196f3;
  /* 成功 */
  --success: #4caf50;
  /* 错误 */
  --error: #ff5252;
  /* 警告 */
  --warning: #ffa93a;
  /* 主要 */
  --textPrimary: #262626;
  /* 常规 */
  --textRegular: rgba(0,0,0,0.5);
  /* 次要 */
  --textSecondary: #d9d9d9;
  /* 边框 */
  --border: #d9d9d9;
  /* 主背景色 */
  --background: #ffffff;
  /* 浅色背景 */
  --lightBackground: #ffffff;
  --lightBackgroundActive: #f6f6f6;
  /* 浅灰 */
  --lightGray: #e5e5e5;
  /* 阴影 */
  --shadow: 1px 2px 15px rgba(0, 0, 0, 0.05);
  /* 通用间距 */
  --gap: 1.2rem;
  /* 侧栏宽度 */
  --sideWidth: 240px;
  /* 应用最大宽度 */
  --wrapWdith: 1200px;
  /* 页面头部高度 */
  --headerHeight: 54px;
  /* code background */
  --codeBackground: #f6f6f6;
  /* 滚动条宽度 */
  --scrollbarWidth: 5px;
  /* 滚动条颜色 */
  --scrollbarColor: #c9c9c9;
}
