<!DOCTYPE html>
<html>

<head>
  {{ HEAD }}
  <!-- 各平台图标相关的设置 -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=WG23BK35Xy">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=WG23BK35Xy">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=WG23BK35Xy">
  <link rel="manifest" href="/site.webmanifest?v=WG23BK35Xy">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=WG23BK35Xy" color="#2196f3">
  <link rel="shortcut icon" href="/favicon.ico?v=WG23BK35Xy">
  <meta name="apple-mobile-web-app-title" content="Hiweb">
  <meta name="application-name" content="Hiweb">
  <meta name="msapplication-TileColor" content="#2196f3">
  <meta name="theme-color" content="#ffffff">
  <script>
    // fixed Object.entries is not function
    if (!Object.entries) {
      Object.entries = function (obj) {
        var ownProps = Object.keys(obj),
          i = ownProps.length,
          resArray = new Array(i); // preallocate the Array
        while (i--)
          resArray[i] = [ownProps[i], obj[ownProps[i]]];

        return resArray;
      }
    }
  </script>
</head>

<body>
  <script>
    (function () {
      if (localStorage && localStorage.THEME) {
        document.body.className += ' ' + localStorage.THEME
      }
    })()
  </script>
  {{ APP }}
</body>

</html>