html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: none) {
  html {
    /* 解决移动设备 html 绑定 click 无效问题 */
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  background-color: var(--background);
}

body a {
  text-decoration: none;
  transition: color 0.3s;
  &.active-link {
    color: var(--primary);
  }
}

@media (hover: hover) {
  body a {
    &:hover {
      color: var(--primary);
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarColor);
    border-radius: 10px;
    visibility: hidden;
  }
  &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

.layout {
  margin-left: calc(100vw - 100%);
}

.logo {
  mask-image: url(~assets/images/logo.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

.wrapper {
  max-width: var(--wrapWdith);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gap);
  padding-right: var(--gap);
  color: var(--textPrimary);
}

.columns {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding-top: var(--gap);
  padding-bottom: var(--gap);
}

.container {
  position: relative;
  flex: 1;
  height: 100%;
}

.left-side,
.right-side {
  position: sticky;
  top: calc(var(--headerHeight) + var(--gap));
  width: var(--sideWidth);
  height: 100%;
}

.left-side {
  margin-right: var(--gap);
  order: -1;
}
.left-side__toggle {
  display: none;
}

.right-side {
  margin-left: var(--gap);
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}

.theme-icon {
  position: absolute;
  right: -15px;
  top: -5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform .3s;
  &:hover {
    transform: translateY(-2px);
  }
  &.icon-sun-inv {
    display: none;
  }
  &.icon-moon {
    color: var(--border);
  }
}

@media not all and (max-width: 768px) {
  /* 为 hideen 时，position sticky 会失效 */
  html, body {
    overflow-x: visible!important;
  }
  .layout {
    & .v-route {
      position: static;
      overflow: visible;
    }
    & .v-route--3d {
      transform: none;
    }
    & .v-route__view {
      overflow: visible;
    }
  }
}

@media (max-width: 1024px) {
  .left-side {
    margin-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    background-color: var(--background);
    transition: transform .3s;
    transform: translate(-100%, 0);
  }
  .left-side__scroll {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .left-side.active {
    transform: translate(0, 0);
    box-shadow: 1px 14px 15px rgba(0, 0, 0, 0.05);
    & .left-side__layer {
      display: block;
    }
    & .left-side__toggle i {
      transform: rotate(180deg);
    }
  }
  .left-side__toggle {
    --size: 35px;
    display: block;
    position: fixed;
    bottom: 20%;
    left: var(--sideWidth);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    text-align: center;
    color: var(--textRegular);
    background-color: var(--lightBackground);
    font-size: 16px;
    border-radius: 0 4px 4px 0;
    box-shadow: 4px 2px 6px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    z-index: 9999;
    & i {
      display: block;
    }
  }
  .left-side__layer {
    position: fixed;
    left: var(--sideWidth);
    top: 0;
    width: 500%;
    height: 120%;
    display: none;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
  }

  .columns {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main {
    display: block;
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  .right-side {
    display: none;
  }
  
  .custom-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}